# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
templates/node-selector-admission-controller/.dockerignore
templates/node-selector-admission-controller/README.txt
templates/node-selector-admission-controller/Dockerfile
templates/node-selector-admission-controller/main.go
